# Environment Files
.env
.env*.local
.env.local

# Sentry Config File
.env.sentry-build-plugin
# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Production / Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*